body {
    background-color: #4e4444;
    color-scheme: #4e4444;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid black;
}

td th {
    border: 1px solid black;
}